

/* ************ ADD YOUR CUSTOM STYLES ************ */



/****************/
/*   BAR-CHART  */
/****************/
body {
    padding-left: 20px;
    font-family: 'Roboto';
    background-color: #512DA8;
    color: white;
}

a {
  color: #64FFDA;

}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  font-size: 0,5em;
  padding: 12px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 2px;
}

#headertable {
  background-color: #4527A0;
}

.table {
  width: 75%;
}

.names {

  fill: white;
}

.meters {

  fill: white;
}


h2 {
  padding-top: 0px;
  margin-top: 0px;
}
